<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>Voice tetris</title>
  <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
  <button id="btn_start" class="button" onclick="onClickStartGame()">
    <span>START GAME </span>
  </button>
  <button id="btn_voice" class="button" onclick="startButton(event)">
    <span>START VOICE </span>
  </button>

  <div id="statistics">
    <div>Score: </div>
    <div>Time: </div>
    <button class="button" onclick="helperGame.reset(); onClickStartGame();">
      <span>start again</span>
    </button>
  </div>

  <div id="speech">
    <div id="info">
      <p id="info_start">begin speaking.</p>
      <p id="info_speak_now">Speak now.</p>
      <p id="info_no_speech">No speech was detected. You may need to adjust your
        <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
          microphone settings</a>.</p>
      <p id="info_no_microphone" style="display:none">
        No microphone was found. Ensure that a microphone is installed and that
        <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
          microphone settings</a> are configured correctly.</p>
      <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
      <p id="info_denied">Permission to use microphone was denied.</p>
      <p id="info_blocked">Permission to use microphone is blocked. To change, go to chrome://settings/contentExceptions#media-stream</p>
      <p id="info_upgrade">Web Speech API is not supported by this browser. Upgrade to
        <a href="//www.google.com/chrome">Chrome</a>
        version 25 or later.</p>
    </div>
  </div>

  <div id="language">
    <select id="select_language" onchange="updateCountry()"></select>
    <select id="select_dialect"></select>
  </div>

  <div id="workspace"></div>

  <script src="../public/js/libs/three.js"></script>
  <script src="../public/js/libs/OrbitControls.js"></script>
  <script src="../public/js/libs/Detector.js"></script>
  <script src="../public/js/libs/EffectComposer.js"></script>
  <script src="../public/js/libs/ShaderPass.js"></script>
  <script src="../public/js/libs/RenderPass.js"></script>
  <script src="../public/js/libs/CopyShader.js"></script>
  <script src="../public/js/libs/VignetteShader.js"></script>
  <script src="../public/js/libs/OBJLoader.js"></script>
  <script src="../public/js/libs/FBXLoader.js"></script>
  <script src="../public/js/libs/MTLLoader.js"></script>
  <script src="../public/js/libs/inflate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
  <script src="../public/js/helperGame.js"></script>
  <script src="../public/js/globalVariables.js"></script>
  <script src="../public/js/speech.js"></script>
  <script src="../public/js/models.js"></script>
  <script src="../public/js/helperBlock.js"></script>
  <script src="../public/js/environment.js"></script>
  <script src="../public/js/animate.js"></script>
  <script src="../public/js/entity/baseClass.js"></script>
  <script src="../public/js/entity/text.js"></script>
  <script src="../public/js/entity/blocks.js"></script>
  <script src="../public/js/events.js"></script>
  <script src="../public/js/index.js"></script>
</body>

</html>